<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap" rel="stylesheet">

  </head>
  <body>
   
   <div class="main-title">    
    <div class="left">
      <img class="pic" src="{{ url_for('static', filename='images/shika.png')}}" alt="">   
    </div>
    <div class="right">
      <h2 class="h2">かわいいだけじゃだめですか？</h2>
      <h2 class="h2">ひみつのとっくんサイト(仮)</h2>
    </div>
   </div>
   
   <div class="youtube title">
    <a href="./senkyo">6年生をおくる会ダンス練習用</a>    
  </div>
  <div class="youtube">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/OU6KOfyrxZE?si=HmgqVbu3pI5Rw-JB" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
  </div>
   <div class="youtube title">
    <a href="./senkyo">6年生をおくる会歌練習用</a>    
  </div>
  <div class="youtube">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/4shEOLZNLkU?si=1qCn7kQSHoVohoPf" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
  </div>
    
  
  </a>
  </body>
</html>
