<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>児童会選挙のながれ</h1>

    <div id="main-container">
      <h2>➀りっこうほ、とどけ</h2>
      <p>選挙にりっこうほすることを正式にとうろくします</p>
      <p>
        選挙かんりいいんが持っている用紙に、<s>りっこうほ者の名前</s>りっこうほ者の名前、せきにん者の名前、公約
      </p>
    </div>
    <button id="btn">HOMEにもどる</button>

    <script src="{{ url_for('static', filename='/main.js') }}"></script>
  </body>
</html>
